@import '../../Variables.scss';

.HomePage {
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	color: $GreenAccentFont;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	overflow-y: auto;
	background-image: url(https://images.hdqwalls.com/download/dots-dark-4k-vi-1280x1024.jpg);
	background-size: cover;
	background-position: center;

	.homePageTitle {
		width: 100%;
		text-align: center;
	}

	.PortfolioContainer {
		position: sticky;
		top: 1em;
		width: 20%;
		height: fit-content;
		padding: 0.5em;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		border-radius: 15px;
		border: $Border;
		box-shadow: 2px 2px 3px green;
		background-color: $GreenBackgroundColor;

		.PortfolioHeader {
			text-shadow: 1px 1px 3px green;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			font-size: 33px;
		}

		.UpdateEdit {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			height: fit-content;

			i {
				cursor: pointer;
			}
			i:hover {
				color: tomato;
			}
		}

		.LastUpdated {
			width: fit-content;
			margin: 0;
		}

		.EditPortfolio {
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
			background-color: transparent;
			border: $Border;
			border-radius: 10px;
			color: $GreenAccentFont;
		}
		.EditPortfolio:hover {
			color: tomato;
		}
	}

	.HomePageMiddleSection {
		border: $Border;
		margin-top: 1em;
		border-radius: 15px;
		width: 50%;
		height: fit-content;
		box-shadow: 2px 2px 3px green;
		overflow-y: auto;
		background-color: $GreenBackgroundColor;
		p {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.TwitterListContainer {
		width: 20%;
		height: fit-content;
		margin-top: 3em;
		// overflow-y: scroll;
	}
}
