@import '../../../../Variables.scss';

.Nav {
	width: 100% !important;
	height: fit-content;
	color: $GreenAccentFont;
	border: none;
	position: fixed;
	top: 0px;
	padding-bottom: 0.2em;
	padding-right: 8px;
	display: flex;
	flex-direction: row;
	justify-content: end;

	.NavData {
		height: 100%;
		width: 8em;
		border: $Border;
		border-right: none;
		border-top: none;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		background-color: black;
		text-align: center;
		font-size: large;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 1em;
		padding-right: 1em;
	}
}
