@import '../../../../Variables.scss';

.Nav {
	width: 5em !important;
	height: fit-content;
	color: $GreenAccentFont;
	border: none;
	position: fixed;
	top: 0px;
	right: 0px;
	padding-bottom: 0.2em;
	padding-right: 0.2em;
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-right: 5px;
	.NavData {
		height: 100%;
		width: fit-content;
		border: $Border;
		border-right: none;
		border-top: none;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		background-color: black;
		text-align: center;
		font-size: large;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 1em;
		padding-right: 1em;

		.NavDate {
			margin-right: 1em;
		}
	}
}
