.ReturnedPortListNames {
	width: 96%;
	height: fit-content;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid aqua;
	h2 {
		height: fit-content;
		font-size: medium;
	}
	img {
		margin: 0px;
		height: 30px;
		width: auto;
	}
}

.ReturnedPortListNames:hover {
	color: coral;
}

.ReturnedPortListNames:nth-last-of-type(1) {
	border-bottom: none;
}
