@import '../../Variables.scss';

.Entry {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	z-index: 10;

	.row .col.s12 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.progress {
		margin-left: auto;
		margin-right: auto;
		height: 10px;
		width: 40%;
		background-color: $GreenBackgroundColor;
		border-radius: 2px;
		overflow: hidden;
		.determinate {
			background-color: $GreenAccentFont;
		}
	}
}
