@import '../../../../Variables.scss';

#scroll-container {
	z-index: 1;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100vw !important;
	border-top: 2px solid green;
	background-color: black;
	height: 5vh;
	line-height: 5vh;
	padding: 0%;
}

#scroll-text {
	white-space: nowrap;
	font-size: 22px;
	/* animation properties */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	-moz-animation: my-animation 15s linear infinite;
	-webkit-animation: my-animation 15s linear infinite;
	animation: my-animation 20s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
	from {
		-moz-transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-100%);
	}
}

/* for Chrome */
@-webkit-keyframes my-animation {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes my-animation {
	from {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
