@import '../../../../Variables.scss';

.Twitter {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Genos', sans-serif;

	.TwitterForm {
		margin-bottom: 1em;
		color: $GreenAccentFont;

		.TwitterInput {
			font-family: 'Genos', sans-serif;
			background-color: $GreenBackgroundColor;
			height: fit-content;
			width: fit-content;
			margin-left: 1em;
			border-radius: 5px;
			border: 1px solid $GreenAccentFont;
			padding: 0.5em;
			box-shadow: 2px 2px 1px $GreenAccentFont;
			color: $GreenAccentFont;
			margin-top: 1em;
			margin-bottom: 1em;
		}

		.TwitterSubmit {
			background-color: $GreenBackgroundColor;
			border-radius: 5px;
			margin-left: 0.5em;
			color: $GreenAccentFont;
			padding: 0.5em;
			border: 1px solid $GreenAccentFont;
			box-shadow: 2px 2px 1px $GreenAccentFont;
			cursor: pointer;
		}
	}
}
.timeline-Widget {
	width: 100%;
}
