@import '../../../../Variables.scss';

.ChartContainer {
	height: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.Search {
	height: fit-content;
	padding: 1em;
	min-height: 40vh;
	color: $GreenAccentFont;

	.SearchForm {
		color: $GreenAccentFont;
		margin-top: 1em;
		margin-bottom: 2.2em;

		.SearchInput {
			background-color: transparent;
			margin-left: 1em;
			border-radius: 5px;
			border: 1px solid $GreenAccentFont;
			padding: 0.5em;
			box-shadow: 2px 2px 1px $GreenAccentFont;
			color: $GreenAccentFont;
		}

		.SearchSubmitButton {
			background-color: transparent;
			border-radius: 5px;
			margin-left: 0.5em;
			color: $GreenAccentFont;
			padding: 0.5em;
			border: 1px solid $GreenAccentFont;
			box-shadow: $BoxShadow;
			cursor: pointer;
		}
		.SearchSubmitButton:hover {
			color: tomato;
			border: $BorderHover;
			box-shadow: $BoxShadowHover;
		}
	}

	.ReturnedData {
		border: $Border;
		border-radius: 5px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: center;
		align-items: center;
		margin-bottom: 2em;

		.ReturnedStats {
			width: 100%;
			height: 90%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-content: center;
			align-items: center;
			margin-bottom: 1em;
		}

		.AddToPortContainer {
			width: 100%;

			.AddToPort {
				width: 50%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 1.5em;
				background-color: transparent;
				border-radius: 5px;
				margin-left: 0.5em;
				color: $GreenAccentFont;
				padding: 0.5em;
				border: 1px solid $GreenAccentFont;
				box-shadow: $BoxShadow;
				cursor: pointer;
			}

			.AddToPort:hover {
				color: tomato;
				border: $BorderHover;
				box-shadow: $BoxShadowHover;
			}
		}

		.TickerImageAndName {
			width: 45% !important;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center !important;

			.TickerName {
				font-size: 2em;
			}

			.TickerImage {
				height: 60px;
			}
		}

		.TickerStats {
			width: 55% !important;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.RedTickerChange {
			color: red;
		}
		.GreenTickerChange {
			color: $GreenAccentFont;
		}
	}

	.typewriter {
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}

	.typewriter h1 {
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: 0.15em solid $GreenAccentFont; /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		width: fit-content;
		animation: typing 2s steps(20, end), blink-caret 1s step-end infinite;
	}

	/* The typing effect */
	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	/* The typewriter cursor effect */
	@keyframes blink-caret {
		from,
		to {
			border-color: transparent;
		}
		50% {
			border-color: $GreenAccentFont;
		}
	}
}
