@import '../../../../Variables.scss';

.ChartContainer {
	height: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.Search {
	height: fit-content;
	padding: 1em;
	min-height: 40vh;
	color: $GreenAccentFont;

	.SearchForm {
		margin-bottom: 1em;
		color: $GreenAccentFont;

		.SearchInput {
			background-color: transparent;
			margin-left: 1em;
			border-radius: 5px;
			border: 1px solid $GreenAccentFont;
			padding: 0.5em;
			box-shadow: 2px 2px 1px $GreenAccentFont;
			color: $GreenAccentFont;
		}

		.SearchSubmitButton {
			background-color: transparent;
			border-radius: 5px;
			margin-left: 0.5em;
			color: $GreenAccentFont;
			padding: 0.5em;
			border: 1px solid $GreenAccentFont;
			box-shadow: 2px 2px 1px $GreenAccentFont;
			cursor: pointer;
		}
	}

	.TickerImageAndName {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.TickerName {
			font-size: 2em;
		}

		.TickerImage {
			height: 150px;
		}
	}
}
