$AccentFont: rgb(63, 192, 232);
$GreenAccentFont: rgb(63, 252, 0);
$GreenBackgroundColor: rgba(0, 95, 0, 0.364);
$Border: thick double green;
$BoxShadow: 2px 2px 1px $GreenAccentFont;
$BorderHover: 1px solid tomato;
$BoxShadowHover: 2px 2px 1px tomato;
